extends layout
block content
  include subviews/mainBar.jade
  h1 #{__("pass_recovery")}
  form(action="/#{lang}/user/recovery" method="POST")
    div
      label(for="email") #{__("mail")}:
      input(type="text" id="mail" name="mail" required)
    div
      button(type="submit") Submit